
@{
    ViewBag.Title = "RGB Color Display";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-6">
        <p>Enter An RGB Color to see what it looks like</p>

        <form action="RGBColor" method="get">
            <div class="input-group">
                <span class="input-group-addon">R</span>
                <input id="R" type="number" class="form-control" name="R" min="0" max="255" value="@Request.QueryString["R"]">
            </div>
            <div class="input-group">
                <span class="input-group-addon">G</span>
                <input id="G" type="number" class="form-control" name="G" min="0" max="255" value="@Request.QueryString["G"]">
            </div>
            <div class="input-group">
                <span class="input-group-addon">B</span>
                <input id="B" type="number" class="form-control" name="B" min="0" max="255" value="@Request.QueryString["B"]">
            </div>
            <input type="submit" value="Submit" class="btn btn-primary btn-sm" />
        </form>
    </div>
    <br>
    <div class="col-md-6">
        <div id="colorBox" style="background-color:@ViewBag.Color;"> 
        </div>
        <p id="colorHex">@ViewBag.Color</p>
    </div>
</div>