@model HW5.Models.Homework
@{
    ViewBag.Title = "Create Homework Entry";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-4" })
        @Html.EditorFor(model => model.Title)
        @Html.ValidationMessageFor(model => model.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Priority, new { @class = "control-label col-md-4" })
        @Html.EditorFor(model => model.Priority)
        @Html.ValidationMessageFor(model => model.Priority)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-4" })
        @Html.TextBoxFor(model => model.Date, new { type = "date" })
        @Html.ValidationMessageFor(model => model.Date)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Time, new { @class = "control-label col-md-4" })
        @Html.TextBoxFor(model => model.Time, new { type = "time" })
        @Html.ValidationMessageFor(model => model.Time)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Department, new { @class = "control-label col-md-4" })
        @Html.EditorFor(model => model.Department)
        @Html.ValidationMessageFor(model => model.Department)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Course, new { @class = "control-label col-md-4" })
        @Html.EditorFor(model => model.Course)
        @Html.ValidationMessageFor(model => model.Course)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Notes, new { @class = "control-label col-md-4" })
        @Html.EditorFor(model => model.Notes)
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("View Homework", "ViewAll")
</div>
